@use 'sass:map';

$font-family: 'Poppins', sans-serif;

// Vuetify module is responsible for this duplication
// NOT ME

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px,
  'xl': 1920px,
  'xxl': 2560px,
);

$display-breakpoints: (
  'xs': '(max-width: #{map.get($grid-breakpoints, 'sm') - 0.02})',
  'sm': '(min-width: #{map.get($grid-breakpoints, 'sm')}) and (max-width: #{map.get($grid-breakpoints, 'md') - 0.02})',
  'md': '(min-width: #{map.get($grid-breakpoints, 'md')}) and (max-width: #{map.get($grid-breakpoints, 'lg') - 0.02})',
  'lg': '(min-width: #{map.get($grid-breakpoints, 'lg')}) and (max-width: #{map.get($grid-breakpoints, 'xl') - 0.02})',
  'xl': '(min-width: #{map.get($grid-breakpoints, 'xl')}) and (max-width: #{map.get($grid-breakpoints, 'xxl') - 0.02})',
  'xxl': '(min-width: #{map.get($grid-breakpoints, 'xxl')})',
  'sm-and-up': '(min-width: #{map.get($grid-breakpoints, 'sm')})',
  'md-and-up': '(min-width: #{map.get($grid-breakpoints, 'md')})',
  'lg-and-up': '(min-width: #{map.get($grid-breakpoints, 'lg')})',
  'xl-and-up': '(min-width: #{map.get($grid-breakpoints, 'xl')})',
  'sm-and-down': '(max-width: #{map.get($grid-breakpoints, 'md') - 0.02})',
  'md-and-down': '(max-width: #{map.get($grid-breakpoints, 'lg') - 0.02})',
  'lg-and-down': '(max-width: #{map.get($grid-breakpoints, 'xl') - 0.02})',
  'xl-and-down': '(max-width: #{map.get($grid-breakpoints, 'xxl') - 0.02})',
);
